@import "tailwindcss";

@theme {
  --color-background: #XXXXXX;
  --color-surface: #XXXXXX;
  --color-primary: #XXXXXX;
  --color-secondary: #XXXXXX;
  --color-accent: #XXXXXX;
  --color-foreground: #XXXXXX;
}
/**
* color-background: The background dur
* color-surface: Used for elements that sit on top of the background
* color-primary:	The main brand identity: primary buttons, hovered navigation links, key interactive elements
* color-secondary:	Complementary UI elements: secondary buttons, status badges, decorative borders
* color-accent:	High-contrast highlights, call-to-action buttons, stand out notifications
* color-foreground:	The primary text and icon color, maintains high contrast against  background and surface
* E.G.:
  --color-background: #000814;
  --color-surface: #001d3d;
  --color-primary: #ffc300;
  --color-secondary: #003566;
  --color-accent: #ffd60a;
  --color-foreground: #f0f0f0;
*/
